html {
	height:100%;
	width: 100%;
	
}

body {
	height:100%;
	width: 100%;
	font-size: 1em;
	font-family: 'Jura', sans-serif;
	line-height: 1.5em;
	background: #E5E5E5;
 	display: grid;
	row-gap: 2%;
	grid-template-rows: 12% 60% 21%; 
}

.div-banner {
	
}

.div-lista {
	padding: 2% 5% 2% 10%;
}

.div-form {
	height: 90%;
	padding: 1%;
	display: grid;
	grid-template-rows: 50% 50%;
	text-align: center;
}

.div-form-input {
	height: 95%;
}

.div-form-btn {
	height: 95%;
}


.logo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 40px;
	position: absolute;
	width: 120px;
	height: 48px;
	left: 40px;
	top: 40px;	
}


#lista-palabras {
	counter-reset: li;
	flex-direction: row;
	column-count: 4;
	column-gap: 10%;
}
 
#lista-palabras li{
	break-inside: avoid-column;
	page-break-inside: avoid;
	list-style: none;
	font-family: 'Skranji', cursive;
	position: relative;
	font-size: 1.5em;
	padding: 10px;
	margin-bottom: 65px;
    width: 120px; 
    height: 20px; 
}

#lista-palabras li:hover { 
    transform:rotate(-3deg); 
    box-shadow:5px 5px 5px #000000;
    transform:rotate(3deg); 
	box-shadow: 5px 5px 5px #000000; 
}

.btn-add {
	margin: 1%;
	font-family: 'Russo One', sans-serif;
	font-size: 1.5em;
	text-align: center;
	border-radius: 10px;
	background: #0A3871;
	width: 25%;
	color: white;
	cursor: pointer;
	background-color: #0A3871;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-add:hover {
   position: relative;
   top: 2px;
   left: 2px;
   border-color: #0A3871;
   cursor: pointer;
}


.btn-cancel {
	margin: 1%;
	font-family: 'Russo One', sans-serif;
	font-size: 1.5em;
	text-align: center;
	border-radius: 10px;
	background: #0A3871;
	width: 25%;
	color: white;
	cursor: pointer;
	background-color: #0A3871;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-cancel:hover {
   position: relative;
   top: 2px;
   left: 2px;
   border-color: #0A3871;
   cursor: pointer;
}


#palabra {
	margin: 1%;
	width: 25%;
	outline: none;
	border: 0;
	font-size: 1.5em;
	border-radius: 10px;
	background-color: #def;
}

