html {
	height:100%;
	width: 100%;
}

body {
	font-size: 1em;
	line-height: 1.5em;
	height:100%;
	width: 100%;
}

.div-master {
	background: #E5E5E5;
	height: 100%;
	display: grid;
	grid-template-rows: 62% 30% 8%;
}

.div-canvas {
	font-family: 'Henny Penny', cursive;
	padding: 0;
    margin: auto;
	background-image: url(../img/fondo.png);
}

.div-teclado {
	font-family: 'Jura', sans-serif;
	height:80%;
	justify-content: center;
	align-items: center;
}

.div-btn {
	text-align: center;
}

.div-visor {
	
}

.div-teclas {
	
}

#alfabeto {
	margin:15px auto;
	padding:0;
	max-width:900px;
}

#alfabeto li {
  float: left;
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
}

#alfabeto li:hover {
   position: relative;
   top: 1px;
   left: 1px;
   border-color: #e5e5e5;
   cursor: pointer;
}

#espacios {
	display: flex;
	margin-top: 5%;
	justify-content: center;
	align-items: center;
}

#espacios li {
  float: left;
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
}

.btn {
	margin: 1%;
	font-family: 'Russo One', sans-serif;
	font-size: 1.5em;
	text-align: center;
	border-radius: 10px;
	background: #0A3871;
	width: 25%;
	color: white;
	cursor: pointer;
	background-color: #0A3871;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn:hover {
   position: relative;
   top: 2px;
   left: 2px;
   border-color: #0A3871;
   cursor: pointer;
}






